body {
  font-family: Arial, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

.navigation {
  background-color: lightgreen;
  padding: 10px;
  overflow: hidden;
}
/* mobile navigation */
.mobile-Navigation {
  display: none;
}

.navigation a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-content {
  padding: 20px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-gallery img {
  width: 28%;
  margin-bottom: 20px;
}

.video-container {
  width: 100%;
  margin-top: 20px;
}

.footer {
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
  clear: both;
}
/* Mobile:  On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
  }
  .navigation {
    display: none;
  }

  .icon {
    display: block;
    color: black;
    width: 100%;
  }
  .mobile-Navigation {
    display: block;
    background-color: lightgreen;
    padding: 10px;
    overflow: hidden;
  }

  .mobile-Navigation nav ul {
    list-style: none;
    padding: 0;
  }

  .mobile-Navigation nav ul li {
    padding: 10px 0;
  }

  .mobile-Navigation nav ul li a {
    float: none;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .main-content h2 {
    font-size: 40px;
    padding-bottom: 5px;
  }
  .main-content p {
    font-size: 32px;
  }

  .image-gallery {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: space-between; */
  }

  .image-gallery img {
    width: 100%;
    margin-bottom: 20px;
  }

  .video-container {
    width: 100%;
    margin-top: 20px;
  }

  .footer {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
    clear: both;
    font-size: 32px;
  }
}
